body{
    min-width: 600px;
}

.content{
    margin-left: 20px;
}

.header{
    padding: 5px;
    background-color: #252525;
    color: white;
}

input{
    width: 300px;
    border: 0px solid blue;
    border-radius: 5px;
}

select{
    border: 0px solid blue;
    border-radius: 5px;
}

label{
    font-size: 15px;
}

button{ 
    height: 25px;
    border: 0px;
    border-radius: 5px;
    background-color: white;
}